# Neo4j Graph Database Configuration
NEO4J_URI=neo4j+s://18815fd8.databases.neo4j.io
NEO4J_USERNAME=18815fd8
NEO4J_PASSWORD=pk8KSpX8qpIgwHHGiuEDzeG52EI0srGrsp1tQShUM3k

# Flask Configuration (Optional, defaults are handled in app.py)
FLASK_APP=app.py
FLASK_ENV=development
PORT=5000
